@import url("https://fonts.googleapis.com/css2?family=Festive&family=Montserrat:wght@400;900&family=Nunito+Sans&family=Quintessential&family=Spectral:wght@700&display=swap");

.contain {
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subTitle {
  padding: 1.5rem;
  font-size: 1.6em;
  font-family: "Roboto Condensed", sans-serif;
  color: #40046e;
}

.boxDesconto {
  margin-bottom: 15rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 1000px) {
  .boxDesconto {
    margin-bottom: 10rem;
    flex-direction: column;
    height: 40rem;
  }
}

@media (max-width: 650px) {
  .contain {
    margin-top: 3rem;
    padding: 0px;
    width: 100%;
  }
}
