.groupPrincipal {
  background-color: rgba(248, 246, 246, 0.5);
}

.container {
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 100vh;
}

.contain {
  width: 50%;
}

.contain h1 {
  font-weight: bolder;
  opacity: 0.7;
  font-family: "Nunito Sans", sans-serif;
  color: #40046e;
  line-height: 1;
  font-size: 3em;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.contain h1::after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #c490ed;
  position: absolute;
  bottom: 5px;
  left: -5px;
  border-radius: 0.2rem;
  z-index: -1;
}

.contain p {
  font-family: "Nunito Sans", sans-serif;
  color: #40046e;
  opacity: 0.7;
  font-size: 1.5em;
}

.principal {
  display: flex;
  justify-content: right;
  width: 50%;
}

.imgEu {
  width: 70%;
}

.boxTriangulo {
  position: relative;
}

.triangulo1 {
  position: absolute;
  z-index: 1;
}

.triangulo2 {
  top: 25px;
  left: 15px;
  position: absolute;
  opacity: 0.4;
}

.boxContact {
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #5454d4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 300px;
}

.titleContact {
  width: 92%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleContact h2 {
  margin-right: 50px;
  font-family: "Nunito Sans", sans-serif;
  color: white;
  opacity: 0.7;
  font-size: 2em;
}

.box {
  width: 92%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box p {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Nunito Sans", sans-serif;
  color: white;
  opacity: 0.7;
  font-size: 1em;
}

@media (max-width: 1000px) {
  .container {
    width: 92%;
    height: 50vh;
  }
}

@media (max-width: 910px) {
  .contain h1 {
    font-size: 2em;
  }
  .contain p {
    font-size: 1em;
  }
  .triangulo1 {
    width: 50px;
  }
  .triangulo2 {
    width: 50px;
    top: 15px;
    left: 8px;
  }
}

@media (max-width: 750px) {
  .container {
    margin-top: 80px;
    width: 100%;
    flex-direction: column;
  }

  .contain {
    width: 90%;
  }

  .imgEu {
    width: 300px;
  }

  .principal {
    margin-top: 0px;
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 590px) {
  .titleContact img {
    width: 20px;
  }

  .titleContact h2 {
    margin-right: 0px;
  }
}

@media (max-width: 330px) {
  .titleContact h2 {
    text-align: center;
  }
  .imgEu {
    width: 80%;
  }
}
