.title {
  padding: 1.5rem;
  font-size: 1.6em;
  font-family: "Roboto Condensed", sans-serif;
  color: #40046e;
}

.btnCard {
  margin: 10px 40px;
  color: rgb(250, 249, 249);
  font-size: 0.8em;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 5px;
  border: none;
  background-color: rgba(64, 4, 110, 0.8);
  font-family: "Roboto Condensed", sans-serif;
}
.btnCard:hover {
  box-shadow: 0px 2px 1px 0px rgba(64, 4, 110, 0.3);
}
