@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Spectral:wght@700&display=swap");

.boxFooter {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.paragraph {
  color: rgb(161, 160, 160);
  font-size: 0.8em;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 490px) {
  .boxFooter {
    flex-direction: column;
    padding-bottom: 40px;
  }
}
