@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Nunito+Sans&family=Spectral:wght@700&display=swap");

.btn {
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: rgba(64, 4, 110, 0.8);
  color: white;
  padding: 15px;
  font-family: "Nunito Sans", sans-serif;
  transition: 1.5s all;
}

.btn:hover {
  background-color: #c291ed;
}
